
Code/DataBase/teste\.csv

Code/AdaptiveMusic/obj/

*.exe

Code/obj/

Codecpp/bin/

Codecpp/dep/

*.o

Codecpp/connected

Codecpp/errors

Codecpp/handler

Codecpp/handler\)

Codecpp/status\)

Codecpp/status\.cbInQue
